/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


@keyframes scale-in {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scale-in 0.15s ease-out;
}
